<a href="https://colab.research.google.com/github/Hepzibha24/hepz/blob/main/EDA_MP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv(r"/content/Telco_Cusomer_Churn.csv")

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# check for duplicate data
dups = df.duplicated()
print('Number of duplicate rows = %d' % (dups.sum()))
df[dups]

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

make boxplot outlier treatment

In [ ]:
df.boxplot(column=['SeniorCitizen'])
plt.show()

In [ ]:
df.boxplot(column=['MonthlyCharges'])
plt.show()

In [ ]:
df.boxplot(column=['tenure'])
plt.show()

In [ ]:
def remove_outlier(col):
    sorted(col)
    Q1,Q3=col.quantile([0.25,0.75])
    IQR=Q3-Q1
    lower_range=Q1-(1.5*IQR)
    upper_range=Q3+(1.5*IQR)
    return lower_range,upper_range

In [ ]:
# Convert 'TotalCharges' to numeric, coercing errors
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Drop rows with NaN in 'TotalCharges' created by coercion
df.dropna(subset=['TotalCharges'], inplace=True)

lrMonthlyCharge, urMonthlyCharge = remove_outlier(df['MonthlyCharges'])
df['MonthlyCharges'] = np.where(df['MonthlyCharges'] > urMonthlyCharge, urMonthlyCharge, df['MonthlyCharges'])
df['MonthlyCharges'] = np.where(df['MonthlyCharges'] < lrMonthlyCharge, lrMonthlyCharge, df['MonthlyCharges'])

Irtenure, urtenure = remove_outlier(df['tenure'])
df['tenure'] = np.where(df['tenure'] > urtenure, urtenure, df['tenure'])
df['tenure'] = np.where(df['tenure'] < Irtenure, Irtenure, df['tenure'])

IrSenior, urSenior = remove_outlier(df['SeniorCitizen'])
df['SeniorCitizen'] = np.where(df['SeniorCitizen'] > urSenior, urSenior, df['SeniorCitizen'])
df['SeniorCitizen'] = np.where(df['SeniorCitizen'] < IrSenior, IrSenior, df['SeniorCitizen'])

lrTotalCharges, urTotalCharges = remove_outlier(df['TotalCharges'])
df['TotalCharges'] = np.where(df['TotalCharges'] > urTotalCharges, urTotalCharges, df['TotalCharges'])
df['TotalCharges'] = np.where(df['TotalCharges'] < lrTotalCharges, lrTotalCharges, df['TotalCharges'])

df.shape

make boxplot after outlier treatment

In [ ]:
df.boxplot(column=['SeniorCitizen'])
plt.show()

In [ ]:
df.boxplot(column=['MonthlyCharges'])
plt.show()

In [ ]:
df.boxplot(column=['tenure'])
plt.show()

In [ ]:
#check for missing value in any column
df.isnull().sum()

replacing NULL values in numerical columns using median

univariate analysis

In [ ]:
sns.distplot(df.MonthlyCharges, bins=20)#histogram og monthlycharges

In [ ]:
sns.countplot(df["Churn"])
plt.show()

bivarte

In [ ]:
sns.pairplot(df)
plt.show()

In [ ]:
df.corr

correlation heatmap

In [ ]:
plt.figure(figsize=(12,7))
# Select only numeric columns for correlation calculation
numeric_df = df.select_dtypes(include=np.number)
sns.heatmap(numeric_df.corr(), annot=True, fmt=' .2f', cmap='Blues' )
plt.show()

normalizing and scaling

In [ ]:
#Scales the data. Essentially returns the z-scores of every attribute
from sklearn.preprocessing import StandardScaler
std_scale = StandardScaler()
# std_scale

# StandardScaler(copy=True, with_mean=True, with_std=True)

df['SeniorCitizen' ] = std_scale.fit_transform(df[['SeniorCitizen' ]])
df['tenure' ] = std_scale.fit_transform(df[['tenure' ]])
df['MonthlyCharges' ] = std_scale.fit_transform(df[['MonthlyCharges' ]])
df['TotalCharges' ]= std_scale.fit_transform(df[['TotalCharges' ]])

In [ ]:
df.head()

  ENCODING

In [ ]:
dummies=pd.get_dummies(df,columns=['gender','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod'], prefix=['gender','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod'],drop_first=True)

In [ ]:
column=['gender','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod']
df = pd.concat([df, dummies],axis=1)
df.drop(column,axis=1,inplace=True)

In [ ]:
df.head()